:root {
  --primary-colour: hsl(231, 69%, 60%);
  --secondary-colour: hsl(0, 94%, 66%);
  --text-primary: hsl(229, 8%, 60%);
  --text-secondary: hsl(229, 31%, 21%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--text-primary);
}

/* ==================
    Typography
===================== */

h1,
h2,
h3,
strong {
  font-weight: 500;
  color: var(--text-secondary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* buttons */

.btn {
  font-family: inherit;
  border: 0;
  padding: 1em 1.5em;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-colour);
  border: solid 2px var(--primary-colour);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #fff;
  color: var(--primary-colour);
}

.btn-secondary {
  color: var(--text-secondary);
  background-color: #f7f7f7;
  border: solid 2px #f7f7f7;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fff;
  border: solid 2px var(--text-secondary);
}

.btn-login {
  color: #fff;
  border: solid 2px #fff;
  padding: 0.5em 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background: none;
}

@media (min-width: 600px) {
  .btn-login {
    background-color: var(--secondary-colour);
    border: solid 2px var(--secondary-colour);
  }

  .btn-login:hover,
  .btn-login:focus {
    background-color: #fff;
    color: var(--secondary-colour);
  }
}

/* ==================
    general layout
===================== */

/* navigation */

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background: var(--text-secondary);
  opacity: 0.95;
  transform: translateX(0);
  transition: transform 0.3s;
}

.navigation-open {
  transform: translateX(-100%);
}

.close-nav,
.open-nav {
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0;
}

.nav-header,
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2.2em 1.85em 0;
}

.nav-list,
.nav-social {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-list {
  margin: 2.25em 1.85em 0;

  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.85em 0;
}

.nav-item::before {
  content: "";
  display: block;
  height: 1px;
  background: #f7f7f7;
  opacity: 0.3;
}

.nav-social {
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.social-item {
  margin: 0 0.75em;
  font-size: 1.75rem;
  color: #fff;
}
